<main
  class="min-w-screen min-h-screen h-screen flex flex-col items-center justify-start py-20 gap-5 bg-background"
>
  <section hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>Nova Máquina</h3>
      <p hlmCardDescription>Crie uma nova máquina abaixo</p>
    </div>
    <form
      (submit)="submit()"
      hlmCardContent
      class="flex flex-col gap-5"
      [formGroup]="form"
      #formDir="ngForm"
    >
      <label for="name" class="flex flex-col gap-1.5 w-80">
        <span class="font-medium">Nome da Máquina:</span>
        <input
          class="bg-input/70"
          hlmInput
          placeholder="Escavadeira"
          type="text"
          name="name"
          id="name"
          formControlName="name"
        />

        @if(form.controls['name'].invalid &&(form.controls['name'].touched ||
        form.controls['name'].dirty)){
        <div
          *ngIf="
            form.controls['name'].invalid &&
            (form.controls['name'].touched || form.controls['name'].dirty)
          "
        >
          <span
            *ngIf="form.controls['name'].errors?.['required']"
            class="text-red-500"
          >
            É necessário preencher o campo de nome.
          </span>

          <span
            *ngIf="form.controls['name'].errors?.['minlength']"
            class="text-red-500"
          >
            O nome da máquina deve ter no mínimo 3 caracteres.
          </span>
        </div>
        }
      </label>

      <label for="local" class="flex flex-col gap-1.5 w-80">
        <span class="font-medium">Localização:</span>
        <input
          class="bg-input/70"
          hlmInput
          placeholder="São Carlos - SP, Brasil"
          type="text"
          name="local"
          id="local"
          formControlName="location"
        />
        @if(form.controls['location'].invalid
        &&(form.controls['location'].touched ||
        form.controls['location'].dirty)){
        <div>
          <span
            *ngIf="form.controls['location'].errors?.['required']"
            class="text-red-500"
          >
            É necessário preencher o campo de localização.
          </span>

          <span
            *ngIf="form.controls['location'].errors?.['minlength']"
            class="text-red-500"
          >
            A localização da máquina deve ter no mínimo 3 caracteres.
          </span>
        </div>
        }
      </label>

      <label for="status" class="flex flex-col gap-1.5">
        <span class="font-medium">Status:</span>

        <select
          class="border border-border py-2 px-4 rounded-sm max-w-80 bg-input/70"
          formControlName="status"
          [value]="form.controls['status'].value"
        >
          @for(item of selectOptions; track item){
          <option [value]="item">{{ item }}</option>
          }
        </select>
      </label>

      <button type="submit" hlmBtn class="w-full max-w-80">
        @if(isLoading){ <span>Criando máquina...</span> } @else{
        <span> Criar máquina</span>
        }
      </button>

      @if(responseMesssage.isSuccess){
      <span class="text-green-500 max-w-80 text-center">
        {{ responseMesssage.message }}
      </span>
      } @else {
      <span class="text-red-500 max-w-80 text-center">
        {{ responseMesssage.message }}
      </span>
      }
    </form>
  </section>
</main>
