<main
  class="min-w-screen min-h-screen h-screen flex flex-col items-center justify-start py-20 gap-5 bg-background"
>
  <section hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>Nova Máquina</h3>
      <p hlmCardDescription>Crie uma nova máquina abaixo</p>
    </div>
    <form action="" hlmCardContent class="space-y-5">
      <label for="name" class="flex flex-col gap-1.5">
        <span class="font-medium">Nome da Máquina:</span>
        <input
          class="w-80"
          hlmInput
          placeholder=""
          type="text"
          name="name"
          id="name"
        />
      </label>

      <label for="local" class="flex flex-col gap-1.5">
        <span class="font-medium">Localização:</span>
        <input
          class="w-80"
          hlmInput
          placeholder=""
          type="text"
          name="local"
          id="local"
        />
      </label>

      <label for="status" class="flex flex-col gap-1.5">
        <span class="font-medium">Status:</span>
        <input
          class="w-80"
          hlmInput
          placeholder=""
          type="text"
          id="status"
          name="status"
        />
      </label>

      <button hlmBtn class="w-full">Criar máquina</button>
    </form>
  </section>
</main>
