<main
  class="w-screen min-h-screen flex flex-col items-center justify-center py-20 gap-10 bg-background"
>
  <article>
    <h1 class="text-4xl font-semibold">Máquinas registradas</h1>
  </article>

  <section class="flex w-full justify-center flex-wrap gap-10">
    @for(item of listMachines; track item){
    <section
      hlmCard
      class="w-[450px] cursor-pointer hover:bg-primary-foreground transition-all"
    >
      <div hlmCardHeader class="flex flex-row justify-between">
        <aside class="flex flex-col gap-2">
          <h3 hlmCardTitle class="text-2xl truncate">{{ item.name }}</h3>
          <p hlmCardDescription class="text-lg truncate">{{ item.location }}</p>
        </aside>

        <aside class="flex flex-col gap-5">
          <span class="font-medium">Status: {{ item.status }}</span>
          <button hlmBtn routerLink="/maquinas/{{ item.id }}">
            Ver Detalhes
          </button>
        </aside>
      </div>
    </section>
    }
  </section>
</main>
